<!DOCTYPE html>
{% load static %}

<html>
<head>
  <meta charset="utf-8">
  <title>My App</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'myapp/styles.css' %}">
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'home' %}">My App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">首页</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'attack' %}">后门攻击</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'train' %}">模型训练</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'judge' %}">模型评估</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'predict' %}">模型预测</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}">关于我们</a>
        </li>
      </ul>
    </div>
  </nav>

</head>

<body>
 

  {% block content %}
  {% endblock %}
  <script src="{% static 'myapp/scripts.js' %}"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>
